#contacts_container{
    display: flex;
    flex-wrap: wrap;
}
#contactsEmails_container p, #contactLocation_container p{
    font-size: 1rem;
}
.contact_container{
    padding-bottom: 4rem;
}

#contactLocation_container{
    color: #FFFFFF;
}
#contactLocation_container h3, #contactsEmails_container h3{
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;
}
.content_container h1{
    padding-top: 7rem;
}
#contactsEmails_container, .content_container h1, #contactLocation_container{
    margin: 0rem 1rem 0 1rem;
}
#contactLocation_container h3{
    max-width: 6.7rem;
}
#contactAddress_container{
    display: flex;
    flex-direction: column;
}
#contactAddress_container div:nth-child(2){
    padding-top: 2rem;
}
#address_container p:first-child{
    padding-bottom: 0.25rem;
}
#locationImgGrid_container img{
    width: 100%;
}
#locationImgGrid_container div{
    border-radius: 5px;
}
#locationImgGrid_container{
    padding: 3rem 0rem 0rem 0rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
}
#img1_item, #img2_item, #img3_item{
    width: 100%; 
    min-height: 200px; 
    background-color: #009DDF;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.75;
}
#img1_item{
    grid-column-start: 1;
    grid-column-end: 5;
    background-image: url(/img/contact/ionMaps.png);
}
#img2_item{
    grid-column-start: 1;
    grid-column-end: 3;
    background-image: url(/img/contact/inngangVest.jpg);
}
#img3_item{
    grid-column-start: 3;
    grid-column-end: 5;
    background-image: url(/img/contact/ionEntrance.webp);
    background-position: 35% 0%;
}


/* ******************** MEDIA ******************** */

/*  --- MOBILE ---  */
@media (max-width: 767px){
    .contact_container{
        width: 100%;
    }
}


/*  --- TABLET ---  */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    #contactsEmails_container, .content_container h1, #contactLocation_container{
        margin: 0 2.5rem 0 2.5rem;
    }
    #img2_item, #img3_item{
        min-height: 250px; 
    }
    #img2_item{
        background-position: 0% 50%;
    }
    #img1_item{
        min-height: 400px;
    }
    .contact_container{
        width: 50%;
    }
}


/*  --- DESKTOP ---  */
@media only screen and (min-width: 992px) {
    #contactsEmails_container, .content_container h1, #contactLocation_container{
        margin: 0 5rem 0 5rem;
    }
    #contactsEmails_container{
        padding-top: 5rem;
    }
    #contactLocation_container{
        display: flex;
        padding-top: 8rem;
    }
    #contactAddress_container{
        width: 30%;
    }
    #locationImgGrid_container{
        width: 70%;
        padding-top: 2rem;
    }
    .contact_container{
        width: 33%;
    }

    #img1_item{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 1 / 3;
        height: 100%;
    }
    #img2_item{
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row: 1 / 1;
        background-position: 0% 40%;
    }
    #img3_item{
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row: 2 / 2;
        background-position: 30% 35%;
        background-size: 140% 140%;
    }
}

/*  --- Larger desktops ---  */
@media only screen and (min-width: 1441px){
    #contactAddress_container{
        width: 25%;
    }
    #locationImgGrid_container{
        width: 75%;
    }
    #contactLocation_container{
        margin-right: 0;
    }
    #img1_item, #img2_item, #img3_item{
        min-height: 300px;
    }
}