#garage_main div{
  padding-top: 8rem;
  padding: 6rem 2rem 0 2rem;
  max-width: 1400px;
  margin: auto;
}

#garage_main div h1{
  padding-bottom: 1rem;
}

.garageimg{
  max-width: 100%;
}

/* ******************** MEDIA ******************** */

/*  --- MOBILE ---  */
@media (max-width: 767px){
  h1 {
    font-size: 2rem;
  }

}


/*  --- TABLET ---  */
@media only screen and (min-width: 768px) and (max-width: 991px) {

}


/*  --- DESKTOP ---  */
@media only screen and (min-width: 992px) {

}


/*  --- TABLET & DESKTOP ---  */
@media only screen and (min-width: 768px){
    
}
